
#Footer {
    width: 100%;
    background-color: black;
    font-size: 0.875rem;
    line-height: 1.2;
    z-index: 150;
    padding: 0.625rem 0 0 0;
    margin-top: auto;
}

#Footer .Footer-contact {
    color: white;
}

#Footer .flex-links {
    display: flex;
    justify-content: space-between;
}

#Footer .Footer-logo {
    max-width: 180px;
}

#Footer .Footer-logo-cyberlux {
    max-width: 250px;
}

#Footer .Footer-content .row:last-of-type > div {
    margin-bottom: 1rem;
}

#Footer .Footer-title {
    color: white;
    font-size: 1.125rem;
    font-family: var(--title-font), sans-serif;
}

#Footer .Footer-content {
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    max-width: 1240px;
}

#Footer .Footer-network {
    width: fit-content;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-top: 0.3125rem;
    color: var(--primary-color);
}

#Footer .Footer-network a > img {
    max-width: 20px;
    vertical-align: text-top;
    margin-top: 4px;
}

#Footer .Footer-documentation-and-terms a {
    margin: 0.3125rem 0.5rem;
    display: block;
}

#Footer .Footer-link {
    display: flex;
    align-items: center;
    padding: 0.3125rem 0;

    & > a {
        color: var(--default-light-color);

        & > i {
            margin-left: 0.4rem;
            color: var(--default-light-color);
            font-size: 0.7rem;
        }

        &:hover {
            color: white;
        }
    }
}

#Footer .Footer-center-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

#Footer .Footer-center-logos img {
    max-height: 64px;
    width: auto;
}

#Footer .Footer-legal-links {
    white-space: nowrap;
}
