
#Footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.875rem;
    line-height: 1.2;
    z-index: 150;
    padding: 0.625rem 0 0 0;
    margin-top: auto;
}

#Footer .Footer-logo {
    width: 100%;
}

#Footer .Footer-logo-cyberlux {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#Footer .Footer-content .row:last-of-type > div {
    margin-bottom: 1rem;
}

#Footer a {
    color: white;
}

#Footer a:hover {
    color: var(--secondary-color);
}

#Footer .Footer-title {
    color: white;
    font-size: 1.125rem;
    font-family: var(--title-font), sans-serif;
}

#Footer .Footer-content {
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    max-width: 1240px;
}

#Footer .Footer-network {
    width: fit-content;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-top: 0.3125rem;
    color: var(--primary-color);
}

#Footer .Footer-network a > img {
    max-width: 20px;
    vertical-align: text-top;
    margin-top: 4px;
}

#Footer .Footer-documentation-and-terms a {
    margin: 0.3125rem 0.5rem;
    display: block;
}

#Footer .Footer-link {
    padding: 0.3125rem 0;
}