
.breadcrumb {
	background: none;
}

.breadcrumb a {
	color: var(--default-color-accessible);
}

.breadcrumb .breadcrumb-item.active {
	cursor: default;
	text-decoration: none;
	color: var(--primary-color-accessible);
}
