
#PageHomeServices .PageHomeServices-content {
    min-height: 300px;
    padding: 20px 30px;
    background-color: var(--light-primary-color);
}

#PageHomeServices .PageHomeServices-menu {
    padding: 5px 10px;
    border-top: solid 1px black;
}